<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-center">
      <h4 style="color: white; font-size: 12px; text-align: center;"> COMP229-M2021 Thang Pham <br> &copy;Copyright 2021 All Rights Reserved.</h4>
    </div>
  </nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
